* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar-brand {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-link {
    color: #5c5c5c;
}
.active {
    color: #4aaaa5;
}