h1 {
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
#portfolio-card {
    width: 80%;
  }
.Profile-Picture {
    max-width: 200px;
    float: left;
    margin-right: 10px;
}