h1 {
    color:#4aaa95;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
#portfolio-card {
    width: 80%;
    margin: 10px;
    margin-top: 20px;
    outline-style: solid;
    /* outline-color:#4aaa95; */
    outline-color: goldenrod;
  }
.Profile-Picture {
    max-width: 200px;
    float: left;
    margin-right: 10px;
}
.about-logo {
  max-width: 150px;
  float: right;
  margin-left: 10px;
}
.about-hero {
    background-image: url("../assets/background13.png");
    background-color: #4aaa95;
    background-blend-mode: screen;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}