h1 {
    color:#4aaa95;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
#portfolio-card {
    width: 80%;
  }
.Profile-Picture {
    max-width: 200px;
    float: left;
    margin-right: 10px;
}
.hero {
    background-image: url("../assets/background3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}