h1, h2, h3, h4, h5 {
    color:#4aaa95;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
#contact-card {
    width: 80%;
  }
.contact-logo {
  max-width: 200px;
}
.contact-links {
  display: inline;
}
.hero {
  background-image: url("../assets/background8.png");
  background-color: #4aaa95;
  background-blend-mode: screen;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}